.folder {
  display: flex;
  position: relative;
  margin: 1rem 2rem;
  padding: 5px;
  height: 9.6rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.folder:hover {
  cursor: pointer;
}

.folder--title,
.file--title {
  padding-top: 7px;
  color: var(--primary-text-color);
  font-size: var(--font-size-s);
}

.context-menu {
  position: absolute;
  top: 97%;
  left: 50%;
  width: 15rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}

.context-menu__actions {
  display: flex;
  flex-direction: column;
}

.context-menu__actions--primary,
.context-menu__actions--danger {
  text-align: left;
  background-color: transparent;
  font-size: var(--font-size-s);
  color: var(--secondary-text-color);
  padding: 1rem 2rem;
  border: 0;
  outline: 0;
}

.context-menu__actions--danger {
  color: var(--error-text-color);
}

.context-menu__actions--primary:hover,
.context-menu__actions--danger:hover {
  cursor: pointer;
  background-color: #eeeff1;
}
